#actionlib==1.12.1
#angles==1.9.12
#app-manager==1.3.0
#asgiref==3.4.1
aws-psycopg2==1.2.1
#axis_camera==0.3.2
#bayesian_belief_networks==2.1.24
#bondpy==1.8.5
boto3==1.23.0
botocore==1.26.0
# camera_calibration==1.15.2
# camera_calibration_parsers==1.11.13
# camera_info_manager_py==0.2.3
#catkin==0.7.29
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
controller_manager==0.18.4
controller_manager_msgs==0.18.4
cv_bridge==1.13.0
decorator==4.4.2
diagnostic_analysis==1.9.7
diagnostic_common_diagnostics==1.9.7
diagnostic_updater==1.9.7
dj-database-url==0.5.0
Django==3.2.7
django-admin-honeypot==1.1.0
django-bitfield==1.6.4
django-ckeditor==6.1.0
django-dia==0.4.1
django-extensions==3.1.5
django-ipware==4.0.0
django-js-asset==1.2.2
django-maintenance-mode==0.16.3
django-multiselectfield==0.1.12
django-payu-payments==0.1.3
django-referrer-policy==1.0
django-render-block==0.8.1
django-ses==3.1.0
django-session-timeout==0.1.0
django-smtp-ssl==1.0
django-storages==1.12.3
django-templated-email==3.0.0
djangocms-admin-style==2.0.2
dynamic_reconfigure==1.6.5
gazebo_plugins==2.8.7
gazebo_ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
geodesy==0.5.3
graphviz==0.19.1
gunicorn==20.1.0
idna==3.2
image_geometry==1.13.0
imageio==2.9.0
imageio-ffmpeg==0.4.5
imagesift==1.2.15
importlib-metadata==1.7.0
interactive-markers==1.11.5
jmespath==1.0.0
joint_state_publisher==1.12.15
joy_mouse==0.1.16
jsk-perception==1.2.15
jsk-recognition-utils==1.2.15
jsk_data==2.2.12
jsk_network_tools==2.2.12
jsk_rqt_plugins==2.1.8
jsk_rviz_plugins==2.1.8
jsk_teleop_joy==0.1.16
jsk_tools==2.2.12
jsk_topic_tools==2.2.12
jsonfield==3.1.0
julius_ros==2.1.24
kdl-parser-py==1.13.3
laser_geometry==1.6.7
message_filters==1.14.13
moveit-core==1.0.11
moviepy==1.0.3
nmea_navsat_driver==0.5.2
numpy==1.19.5
openni2_launch==1.6.0
paywix==1.4.0
pgm_learner==2.1.24
Pillow==8.3.2
pr2_computer_monitor==1.6.31
proglog==0.1.9
psycopg2-binary==2.9.5
pycountry==1.2
pydotplus==2.0.2
pyparsing==3.0.7
python-dateutil==2.8.2
python-decouple==3.5
python-fsutil==0.7.0
python_qt_binding==0.4.4
pytz==2021.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
razorpay==1.2.0
requests==2.26.0
resource_retriever==1.12.7
ros_numpy==0.0.3
rosbag==1.14.13
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosdoc_lite==0.2.9
rosgraph==1.14.13
roslaunch==1.14.13
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.13
rosmake==1.14.9
rosmaster==1.14.13
rosmsg==1.14.13
rosnode==1.14.13
rosparam==1.14.13
rospy==1.14.13
rosservice==1.14.13
rostest==1.14.13
rostopic==1.14.13
rostwitter==2.1.24
rosunit==1.14.9
roswtf==1.14.13
rqt-moveit==0.5.10
rqt-reconfigure==0.5.4
rqt-robot-monitor==0.5.14
rqt-rviz==0.7.0
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.9
rqt_dep==0.4.9
rqt_graph==0.4.11
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_image_view==0.4.16
rqt_launch==0.4.8
rqt_logger_level==0.4.8
rqt_msg==0.4.8
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.8
rqt_publisher==0.4.8
rqt_py_common==0.5.3
rqt_py_console==0.4.8
rqt_robot_dashboard==0.5.7
rqt_robot_steering==0.5.10
rqt_runtime_monitor==0.5.7
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.6.0
rqt_top==0.4.8
rqt_topic==0.4.11
rqt_web==0.4.8
rviz==1.13.29
s3transfer==0.5.2
sensor-msgs==1.12.8
six==1.16.0
smach==2.0.1
smach-viewer==4.0.1
smach_ros==2.0.1
smclib==1.8.5
sound-play==0.3.15
sqlparse==0.4.2
srdfdom==0.5.2
tf==1.12.1
tf2_geometry_msgs==0.6.5
tf2_kdl==0.6.5
tf2_py==0.6.5
tf2_ros==0.6.5
tf_conversions==1.12.1
topic_tools==1.14.13
tqdm==4.62.3
typing_extensions==4.1.1
unique_id==1.0.6
urdfdom-py==0.4.6
urllib3==1.26.7
whitenoise==5.3.0
xacro==1.13.18
zipp==3.8.1
